<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Arun Kumar Reddy Nallabolu</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/mystyle.css" rel="stylesheet">
        <script src="calculation.js"></script>


    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Arun's Intro</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/">Home</a></li>
                    <li class="active"><a href="Calculator">Calculator</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="Guestbook">Guestbook</a></li>
                    
                </ul>
            </div><!--/.nav-collapse -->

        </nav>
      

        <p>
            <label>Pounds</label>
            <input id="inputPounds" type="number" placeholder="Pounds"
            oninput="k(this.value)" onchange="weightConverter(this.value)">
          </p>
          <p>Grams: <span id="outputGrams"></span></p>
          <a href="test/test.html">test here</a>
          </body>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>