<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Arun Kumar Reddy Nallabolu</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/mystyle.css" rel="stylesheet">
        <link href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome.min.css" rel="stylesheet" type="text/css"/>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Arun's Intro</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/">Home</a></li>
                    <li><a href="Calculator">Calculator</a></li>
                    <li class="active"><a href="contact">Contact</a></li>
                    <li><a href="Guestbook">Guestbook</a></li>
                    
                    
                </ul>
            </div><!--/.nav-collapse -->

        </nav>
       
        
        <div class="container">
    <div class="row">
		<form class="col-md-9 go-right">
						<div class="form-group">
			<input id="name" name="name" type="text" class="form-control" required>
			<label for="name">Your Name</label>
		</div>
		<div class="form-group">
			<input id="phone" name="phone" type="tel" class="form-control" required>
			<label for="phone">Primary Phone</label>
		</div>
		<div class="form-group">
			<textarea id="message" name="phone" class="form-control" required></textarea>
			<label for="message">Message</label>
                       
		</div>
            <button type="button" id="Submit" name="Submit" class="btn btn-primary pull-middle">Submit
                            Form</button>
		</form>
        
	</div>
</div>
        
        
        <a href="#" class="fa fa-github fa-4x"></a>
        <a href="#" class="fa fa-bitbucket fa-4x"></a>
        <a href="#" class="fa fa-linkedin fa-4x"></a>
        

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>