<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css">
</head>
<body class="container">
        <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Arun's Intro</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="Calculator">Calculator</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li class="active"><a href="Guestbook">Guestbook</a></li>
    
                    </ul>
                </div>
    
            </nav>
<h1>
Welcome to our Guestbook 
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>   